@model CrearProductosViewModel


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - WebInventarios</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/WebInventarios.styles.css" asp-append-version="true" />
@{
    Layout = null;
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="container-fluid">
            <div class="card mt-2">
                <div class="card-header text-info">
                    <h1>Crear</h1>
                </div>
                <div class="card-body">
                    <div id="view-all">
                        <form asp-action="Create" onblur="InviarValor()">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            @*<div class="form-group">

                            <label asp-for="ProdcutoId" class="control-label"></label>
                            <input asp-for="ProdcutoId" class="form-control"/>
                            <span asp-validation-for="ProdcutoId" class="text-danger"></span>
                            </div>*@
                          
                            <div class="form-group">
                                <label asp-for="ProductoDesc" class="control-label"></label>
                                <input asp-for="ProductoDesc" class="form-control" />
                                <span asp-validation-for="ProductoDesc" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductoComentario" class="control-label"></label>
                                <input asp-for="ProductoComentario" class="form-control" />
                                <span asp-validation-for="ProductoComentario" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductoCan" class="control-label"></label>
                                <input asp-for="ProductoCan" class="form-control" />
                                <span asp-validation-for="ProductoCan" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                                <select id="IDAlmacen" onchange="AlmacenSeleccionado(this)" onclick="guardarValor()">
                                    <option value="">Seleccione un Almacen</option>
                                    @foreach (var almacenes in Model.Almacenes)
                                    {
                                        <option value="@almacenes.IDAlmacen">
                                            <strong>@almacenes.IDAlmacen - @almacenes.DescripcionAlmacen</strong>
                                        </option>
                                    }
                                </select>
                            </div>*@

                            <div class="form-group">
                                <span class="required">*</span>
                                <label asp-for="IDAlmacen" class="control-label"></label>
                                <select asp-for="IDAlmacen" asp-items="Model.Almacenes" class="form-control"></select>
                                <span asp-validation-for="IDAlmacen" class="text-danger"></span>
                            </div>
                            <hr />
                            <div class="form-group">
                                <input type="submit" value="Crear" Class="btn btn-outline-primary"  />
                                <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
                            </div>

                        </form>
                      

                    </div>
                </div>
            </div>
        </div>

    </main>
</div>

<script>
    var valorSeleccionado;

    function guardarValor() {
        valorSeleccionado = document.getElementById("IDAlmacen").value;
    }

    function InviarValor() {
        var valorSeleccionado = document.getElementById("IDAlmacen").value;
        $.ajax({
            type: "POST",
            url: "/Productos/Create",
            data: { IDAlmacen: valorSeleccionado },
            success: function (result) {
                // Aquí puedes realizar acciones con el resultado devuelto por el controlador
            },
            error: function (xhr, status, error) {
                // Aquí puedes manejar los errores que puedan ocurrir
            }
        });
    }
</script>


