@model Producto

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - WebInventarios</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/WebInventarios.styles.css" asp-append-version="true" />
@{
    Layout = null;
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="container-fluid">
                <div class="card mt-2">
                    <div class="card-header text-info">
                         <h1>Editar</h1>
                    </div>
                    <div class="card-body">
                        <div id="view-all">
                        <form asp-action="Edit" asp-route-id="@Model.ProductoId">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ProductoId" />

                            <div class="form-group">
                                <label asp-for="ProductoId" class="control-label"></label>
                                <input asp-for="ProductoId" class="form-control" disabled />
                                <span asp-validation-for="ProductoId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ProductoDesc" class="control-label"></label>
                                <input asp-for="ProductoDesc" class="form-control" />
                                <span asp-validation-for="ProductoDesc" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductoComentario" class="control-label"></label>
                                <input asp-for="ProductoComentario" class="form-control" />
                                <span asp-validation-for="ProductoComentario" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductoCan" class="control-label"></label>
                                <input asp-for="ProductoCan" class="form-control" />
                                <span asp-validation-for="ProductoCan" class="text-danger"></span>
                            </div>

                            <hr />
                            <div class="form-group">
                                <input type="submit" value="Edit" Class="btn btn-primary" />
                            </div>

                        </form>
                        </div>
                    </div>
                </div>
            </div>

    </main>
</div>
