@model CrearProductosViewModel


@{
    Layout = null;
}
@*Porque el Layout es null*@
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - WebInventarios</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/WebInventarios.styles.css" asp-append-version="true" />

<div class="container">
    <main role="main" class="pb-3">
        <div class="container-fluid">
                <div class="card mt-2">
                    <div class="card-header text-info">
                         <h1>Editar</h1>
                    </div>
                    <div class="card-body">
                        <div id="view-all">
                        <form asp-action="Edit" enctype="multipart/form-data"  asp-route-id="@Model.ProductoId">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ProductoId" />

                            <div class="form-group">
                                <label asp-for="ProductoId" class="control-label"></label>
                                <input asp-for="ProductoId" class="form-control" disabled />
                                <span asp-validation-for="ProductoId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ProductoDesc" class="control-label"></label>
                                <input asp-for="ProductoDesc" class="form-control" />
                                <span asp-validation-for="ProductoDesc" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductoComentario" class="control-label"></label>
                                <input asp-for="ProductoComentario" class="form-control" />
                                <span asp-validation-for="ProductoComentario" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductoCan" class="control-label"></label>
                                <input asp-for="ProductoCan" class="form-control" />
                                <span asp-validation-for="ProductoCan" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <span class="required">*</span>
                                <label asp-for="IDAlmacen" class="control-label"></label>
                                <select asp-for="IDAlmacen" asp-items="Model.Almacenes" class="form-control"></select>
                                <span asp-validation-for="IDAlmacen" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageFile" class="control-label"></label>
                                <input asp-for="ImageFile" class="form-control" type="file" />
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>

                            
                            <!-- /tabla de imagenes -->
                            <!-- /.row -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Tabla de Imagenes </h3>

                                            <div class="card-tools">
                                                <div class="input-group input-group-sm" style="width: 150px;">
                                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-default">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body table-responsive p-0" style="height: 300px;">
                                            <table class="table table-head-fixed text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th asp>accion</th>
                                                        <th>Descrip.</th>
                                                        <th>imagen</th>
                                                        
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var imagenes in Model.ImagenesProductos)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <button data-id="imgID" class="btn btn-outline-danger deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog" style="font-size: 0.80rem"><i style="font-size: 0.75rem" class="bi bi-trash"></i></button>
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(ip=> imagenes.imagen)
                                                            </td>
                                                            <td>
                                                                <img src="@imagenes.ImageFullPath" style="width:75px;" />
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                            <!-- / Fin de tabla 2=de imagenes -->

                            

                            <div class="form-group">
                                <input type="submit" value="Editar" Class="btn btn-outline-primary" />
                                <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
                            </div>
                           
                           

                        </form>
                        </div>
                    </div>
                </div>
            </div>

    </main>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/showmodal.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ImagesCarousel").carousel();
            $("#ImagesCarouselPrev").click(function () {
                $("#ImagesCarousel").carousel("prev");
            });
            $("#ImagesCarouselNext").click(function () {
                $("#ImagesCarousel").carousel("next");
            });
        });
        <script src="~/js/showmodal.js" ></script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Productos/Delete/', false);
    </script>
}
