@*@model YourNamespace.LoginViewModel*@

<form asp-controller="Cuentas" asp-action="Login" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="Username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" />
    </div>
    <button type="submit">Login</button>
</form>